<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Remembeer – An app for group expenses tracking</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      const hideMessage = function() {
        $("#message").hide();
      }

      const showForm = function() {

      }
    </script>
  </head>
  <body>
    <% include partial/nav.ejs %>

    <div class="container">

      <% if (success) { %>
        <div class="notification is-success" id="message">
          <button class="delete" onclick="hideMessage()"></button>
          Congrats on adding new project!
        </div>
      <% } %>

        <div class="hero-body has-text-centered">
          <form id="new-project-form" method="POST" action="/projects">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" name="title" placeholder="Project name" required="required"/>
              </div>
              <div class="control">
                <button class="button is-primary centered">
                  <span class="icon">
                    <i class="fa fa-plus"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <table class="table is-bordered is-fullwidth">
          <tbody>
            <% for (i=0;i<projects.length;i++) { %>
              <tr><td>
                <a href="/projects/<%= projects[i]._id %>">
                  <h2 class="title"><%= projects[i].title %></h2>
                  </a>
              </td></tr>
              <% }; %>
          </tbody>
        </table>
    </div>
  </body>
</html>
