<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Remembeer – An app for group expenses tracking</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      const hideMessage = function() {
        $("#message").hide();
      }
    </script>
  </head>
  <body>
    <% include partial/nav.ejs %>

    <div class="container">

      <% if (success) { %>
        <div class="notification is-success" id="message">
          <button class="delete" onclick="hideMessage()"></button>
          Congrats on adding new project!
        </div>
      <% } %>

        <table class="table is-bordered is-fullwidth">
          <tbody>
            <% for (i=0;i<projects.length;i++) { %>
              <tr><td>
                <a href="/projects/<%= projects[i]._id %>">
                  <h2 class="title"><%= projects[i].title %></h2>
                  </a>
              </td></tr>
              <% }; %>
          </tbody>
        </table>

        <div style="background-color: #aa0000">
          <form id="new-project-form" method="POST" action="/projects">
            <label for="title">Project Title:</label>
            <input type="text" name="title"/>
            <input type="submit" value="submit"/>
          </form>
        </div>

    </div>
  </body>
</html>
